Source: hashmonkeycoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@hashmonkeycoin.org>
Uploaders: Holger Schinzel <holger@hashmonkeycoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.hashmonkeycoin.org/
Vcs-Git: git://github.com/stabner/HashmonkeyCoin.git
Vcs-Browser: https://github.com/stabner/HashmonkeyCoin

Package: hashmonkeycoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 HashmonkeyCoin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. HashmonkeyCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. HashmonkeyCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, hashmonkeycoind, and the CLI tool
 hashmonkeycoin-cli to interact with the daemon.

Package: hashmonkeycoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 HashmonkeyCoin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. HashmonkeyCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. HashmonkeyCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides HashmonkeyCoin-Qt, a GUI for HashmonkeyCoin based on Qt.
