[Desktop Entry]
Encoding=UTF-8
Name=HashmonkeyCoin Core
Comment=HashmonkeyCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem HashmonkeyCoin peer-to-peer Netzwerk
Comment[fr]=HashmonkeyCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HashmonkeyCoin, eşten eşe kriptografik sanal para birimi
Exec=hashmonkeycoin-qt %u
Terminal=false
Type=Application
Icon=hashmonkeycoin128
MimeType=x-scheme-handler/hashmonkeycoin;
Categories=Office;Finance;
