[Unit]
Description=HashmonkeyCoin's distributed currency daemon
After=network.target

[Service]
User=hashmonkeycoin
Group=hashmonkeycoin

Type=forking
PIDFile=/var/lib/hashmonkeycoind/hashmonkeycoind.pid
ExecStart=/usr/bin/hashmonkeycoind -daemon -pid=/var/lib/hashmonkeycoind/hashmonkeycoind.pid \
-conf=/etc/hashmonkeycoin/hashmonkeycoin.conf -datadir=/var/lib/hashmonkeycoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
